@import "tailwindcss";
@import "./styles/app.css";
@import "./styles/scrollbar.css";

@custom-variant dark (&:where(.dark, .dark *));

/* ========== متغیرهای رنگ - حالت روشن ========== */
:root {
  /* رنگ‌های متن */
  --text-primary: black;
  --text-secondary: #757575;
  --text-link: #045b9c;
  --text-link-hover: black;

  /* رنگ‌های پس‌زمینه */
  --bg-primary: white;
  --bg-hover: #9595954d;

  /* رنگ حاشیه و سایه */
  --border-color: #95959526;
  --box-shadow: #045b9c;
  --header-glow: #049ee226;

  /* رنگ‌های اسکرول */
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
}

/* ========== متغیرهای رنگ - حالت تاریک ========== */
.dark {
  --text-primary: white;
  --text-secondary: #b2b2b2;
  --text-link: #82f1fc;
  --text-link-hover: white;
  --bg-primary: black;
  --bg-hover: #9595954d;
  --border-color: #9595954d;
  --box-shadow: #82f1fc;
  --scrollbar-track: #333;
  --scrollbar-thumb: #666;
  --scrollbar-thumb-hover: #999;
  --header-glow: rgba(59, 130, 246, 0.35);
}

@layer base {
  body {
    background-image: radial-gradient(
      circle at 50% 0%,
      var(--header-glow),
      transparent 20%
    );
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: Arial, Helvetica, sans-serif;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .hover-bg {
    transition: background-color 0.2s ease;
  }

  .hover-bg:hover {
    background-color: var(--bg-hover);
  }

  .border-color {
    border-color: var(--border-color);
  }

  .box-shadoww {
    box-shadow: 0 0 50px 5px var(--box-shadow);
  }
}
